# 编译输出目录
platforms/
build/
linux*/
darwin*/
lnInclude/
.cache/

# 可执行文件
*.exe
*.out
*.app

# 库文件
*.so
*.dylib
*.dll

# 测试输出和日志
processor*/
[1-9][0-9]*/       # 匹配1-9开头的数字文件夹
0[0-9]*/           # 匹配01、02等文件夹，但不匹配单独的0
[0-9]*.[0-9]*/     # 匹配带小数点的数字文件夹
log.*